.button-wrapper {
    background-color: #000;
    border-radius: 4px;
    border-style: none;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    outline: none;
    padding: 9px 20px 8px;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.button-wrapper:hover {
  opacity: 0.75;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}